.edit {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   box-sizing: content-box;
   background-color: rgb(235, 235, 235);
}

.edit h1 {
   font-size: 1.8rem;
   margin: 0 auto;
}

.edit h1+hr {
   margin-top: 30px;
   width: 80%;
}


/* Block 1 */
.edit section:nth-child(1) {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   margin: 45px 20px 45px 0;
   width: 25%;
   min-width: 400px;
   border-right: 1px gray groove;
}

.edit section:nth-child(1) svg {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   box-sizing: content-box;

   /* Width */
   width: 40%;
   margin: 320px 0;
   padding: 0;
}



/* Block 2 */
.edit section:nth-child(2) {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   width: 80%;
   margin: 45px 0px;
}

.edit section:nth-child(2) form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background-color: rgb(117, 117, 117);
   color: white;
   box-sizing: content-box;

   /* Width */
   width: 90%;
   min-width: 800px;
   height: 1000px;
   margin: 20px auto;
   border-radius: 20px;
   box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
      0 14px 20px rgba(0, 0, 0, 0.24);
}

.edit section:nth-child(2) form label {
   font-size: 1.2rem;
   border-bottom: 1px solid gray;
}

.edit section:nth-child(2) form input,
.edit section:nth-child(2) form textarea,
.edit section:nth-child(2) form option,
.edit section:nth-child(2) form select {
   color: black;
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.1rem;
   margin: 20px auto;
   border-radius: 5px;
   box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
      0 14px 20px rgba(0, 0, 0, 0.24);
   border: none;
   width: 25%;
   padding: 10px;
}

.edit textarea {
   width: 770px;
   height: 250px;
   resize: none;
}

.edit a,
.edit button {
   background-color: rgba(0, 0, 0, 0);
   border: none;
   text-decoration: underline;
   color: blue;
   text-align: right;
   padding-right: 10px;
}

.edit a:hover,
.edit button:hover {
   color: crimson;
   cursor: pointer;
}