.header {
   width: 100%;
   height: 70px;
   background-color: rgb(99, 99, 99);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

.header h2{
   margin-right: 25%;
}

.header a,
.header p {
   color: white;
   margin-right: 50px;
   text-decoration: none;
   font-weight: bold;
   cursor: pointer;
}

.header p {
   vertical-align: middle;
   text-align: center;
   padding: 10px 15px;
   width: 10px;
   border-radius: 50%;
   background-color: crimson;
}