.products {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   box-sizing: content-box;
   background-color: rgb(235, 235, 235);
}

/* Details */
.products section:nth-child(1) {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   margin: 45px 20px 45px 0;
   width: 20%;
   border-right: 1px gray groove;
}


/* List */
.products section:nth-child(2) {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   width: 80%;
   margin: 45px 0px;
}

/* Article */
.products section:nth-child(2) article {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   background-color: white;
   box-sizing: content-box;

   /* Width */
   width: 27%;
   margin: 20px;
   padding: 20px;
   border-radius: 20px;
   box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
      0 14px 20px rgba(0, 0, 0, 0.24);
   ;
}


.products section:nth-child(2) article img {
   box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
      0 14px 20px rgba(0, 0, 0, 0.24);
   width: 90%;
   margin: auto;
   height: auto;
}

.products button {
   width: 25%;
}