.form {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   box-sizing: content-box;
   background-color: rgb(235, 235, 235);
}

.form h1 {
   font-size: 1.8rem;
   margin: 0 auto;
}

.form h1+hr {
   margin-top: 30px;
   width: 80%;
}



/* Block 1 */
.form section:nth-child(1) {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   margin: 45px 20px 45px 0;
   width: 25%;
   min-width: 400px;
   border-right: 1px rgb(170, 170, 170) groove;
}

.form section:nth-child(1) form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   width: 75%;
}

.form section:nth-child(1) form input {
   width: 65%;
   margin: 20px auto;
   padding: 9px;
   border-radius: 10px;
   box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
      0 14px 20px rgba(0, 0, 0, 0.24);
   vertical-align: middle;
}

.form section:nth-child(1) form input[type="submit"] {
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.1rem;
   margin: 20px auto;
   border-radius: 5px;
   box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
      0 14px 20px rgba(0, 0, 0, 0.24);
   border: none;
   width: 40%;
   max-width: 650px;
   min-width: 300px;
   padding: 10px;
}

.form section:nth-child(1) svg {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   box-sizing: content-box;

   /* Width */
   width: 40%;
   margin: 320px 0;
   padding: 0;
}


/* Block 2 */
.form section:nth-child(2) {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   width: 80%;
   margin: 45px 0px;
}

.form section:nth-child(2) form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background-color: rgb(163, 163, 163);
   color: white;
   box-sizing: content-box;

   /* Width */
   width: 70%;
   height: 100%;
   min-width: 670px;
   padding-top: 25px;
   margin: 20px auto;
   border-radius: 20px;
   box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
      0 14px 20px rgba(0, 0, 0, 0.24);
}

.form section:nth-child(2) form input[type="file"] {
   box-shadow: none;
}

.form section:nth-child(2) form input[type="number"]{
   width: 10%;
}

.form section:nth-child(2) form textarea {
   width: 50% !important;
}

.form section:nth-child(2) form input[type="submit"] {
   width: 5%;
}

.form section:nth-child(2) form input,
.form section:nth-child(2) form textarea,
.form section:nth-child(2) form option,
.form section:nth-child(2) form select {
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.1rem;
   margin: 20px auto;
   border-radius: 5px;
   box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
      0 14px 20px rgba(0, 0, 0, 0.24);
   border: none;
   width: 40%;
   max-width: 650px;
   min-width: 300px;
   padding: 10px;
}

.form textarea {
   width: 770px;
   height: 250px;
   resize: none;
}

.form a,
.form button {
   background-color: rgba(0, 0, 0, 0);
   border: none;
   text-decoration: underline;
   color: blue;
   text-align: right;
   padding-right: 10px;
}

.form a:hover,
.form button:hover {
   color: crimson;
   cursor: pointer;
}

.form .goodMsg {
   color: rgb(0, 119, 0);
   background-color: darkgoldenrod;
   font-weight: 600;
   border-radius: 20px;
   padding: 10px;
}