body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(235, 235, 235);
  min-width: 850px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.goodMsg {
  color: rgb(16, 128, 16);
  background-color: rgb(236, 193, 2);
  font-weight: 600;
  border-radius: 20px;
  padding: 10px;
}

.badMsg {
  color: rgb(187, 0, 0);
  background-color: rgb(236, 193, 2);
  font-weight: 600;
  border-radius: 20px;
  padding: 10px;
}